{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portfolio</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% block extra_css %}
    {% endblock %}

</head>

<body data-path="{{ request.path }}">

<div class="container">

    <div class="sidebar-wrapper">
        {% include 'includes/sidebar.html' %}
    </div>

    <div class="main-content">

        {% block content %}
        {% endblock %}

    </div>

</div>

</div>
</body>

</html>